body{
  background-color:lightblue
}
h1{
  color:#800080;
}
thinking meme{
  width: 20px;
  height: 20px;
}
p{
  font-family:heveltica;
}

ol{
  color:#00008b;
  text-align:center;
}

ol li{
  color:#6495ed;
}



