

body{
  background-color:lightblue;
  text-align:center;
}
h1{
  color:#800080;
}
thinking meme{
  width: 20px
  height: 20px
}
p{
  font-family:
}

ol{
  color:#00008b;
}
ol li{
  color:#6495ed;
}
